:root {
    --main_bg: rgb(81, 77, 77);
    --bg1: rgb(203, 216, 214);

}

* {
    box-sizing: border-box;
}

/* Styles for body*/
body{
   flex-direction: column;
   /* align-items: center; */

   width: 100vw;
   background-color: var(--main_bg);
   color: black;
   margin: 0px;
}



/* Styles for the search box */
.search-box{
    background-color: var(--bg1);
    justify-content: left;
    align-items: center;

    margin-top: 0px;
    height: 50px;
    width: 100vw;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
}

/* styling for location marker */
.fa-solid {
    margin-left: 5px;
}
/* style for text input box for location search */
#search-inputbox {
    margin-left: 5px;
    width: 250px;
}

.container{
    width: 1000px;
    border: 1px solid red;
    
    margin: auto;
}

/*  Styles location */
.city-name {
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    border: 2px solid;
    border-color: white;
}

/*  Styles location symbol */
.current-weatherimg{
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;

    margin-top: 10px;
    border: 2px solid;
    border-color: white;
    flex-wrap: wrap;
}

/*  Styles current-dayinfo */
.current-dayinfo{
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;

    margin-top: 10px;
    border: 2px solid;
    border-color:white;
}

/*  Styles todays-hourlyforecast */
.hourly-forecast {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;

    background-color: var(--bg1);
    height: 220px;
    width: 100%;

    margin-top: 10px;
    border: 1px solid;
    border-color: white;
}

.hourly {
    padding-left: 5px;
    padding-top: 5px;
    border-right: 1px solid;
    border-color: black;
}

.hour12 {
    border: none;
}


/* Styles restoftheweek-forecast */
.restoftheweek-forecast{
    background-color: var(--bg1);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;

    height: 300px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid;
    border-color: purple;
    flex-direction: row;

}

.sevenday{
    background-color: var(--bg1);
    display: flex;

    border-top: none;
    border-bottom: none;
    border: 1px solid purple;
}

.government-alerts {
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;

    margin-top: 10px;
    border: 2px solid;
    border-color:white;

}

footer {
    justify-content: center; 
    align-items: center;
    width: 100vw;
    border: 2px solid;
    border-color: white;
    display: flex;
  }
  
.resources-column{

        /* background-color: black; */
        width: 500px;
        /* height: 70px; */
        border: 2px solid;
        /* border-color: white; */
        flex-direction: row; 
        justify-content: space-around; 

}
.additionalcontact-column {
    /* background-color: black; */
    width: 500px;
    /* height: 70px; */
    border: 2px solid;
    /* border-color: white; */
    flex-direction: row; 
    justify-content: space-around; 
}