:root {
    --main_bg: black;
    --bg1: grey;

}

* {
    box-sizing: border-box;
    margin: 10px;
}
/* Styles for body*/
body{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   margin: 0px;
   color:  white;
   background-color: black;

}

/* Styles for the search box */
.search-box{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 50px;
    width: 300px;
    border: 2px solid;
    border-color: white;
}
/*  Styles location */
.location {
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    border: 2px solid;
    border-color: white;
}

/*  Styles location symbol */
.location-symbol{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    border: 2px solid;
    border-color: white;
    flex-wrap: wrap;
}

/*  Styles current-dayinfo */
.current-dayinfo{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 750px;
    border: 2px solid;
    border-color:white;
}

/*  Styles todays-hourlyforecast */
.todays-hourlyforecast {
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 1150px;
    border: 1px solid;
    border-color: white;
    flex-direction: row;
}

.day1 {
    display: flex;
    background-color: var(--bg1);
}

.hourly {
    flex: 1;
    height: 190px;
    padding: 10px;
    border: 1px solid;
    border-color: white;
    
    
    
}


/* Styles restoftheweek-forecast */
.restoftheweek-forecast{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 750px;
    border: 2px solid;
    border-color: white;
    flex-direction: row;

}
.sevenday{
    background-color: var(--bg1);
    height: 296px;
    width: 150px;
    margin: 0px;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;


}

.monthly-prediction{
    display: flex;
    background-color: var(--bg1);
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 750px;
    border: 2px solid;
    border-color:white;

}

footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: grey;
    width: 100vw;
    border: 2px solid;
     border-color: white;
  }
  
  .resources-column{
        display: flex;
        background-color: black;
        width: 500px;
        height: 70px;
        border: 2px solid;
        border-color: white;
        flex-direction: row; 
        justify-content: space-around; 

  }
  .additionalcontact-column {
    display: flex;
    background-color: black;
    width: 500px;
    height: 70px;
    border: 2px solid;
    border-color: white;
    flex-direction: row; 
    justify-content: space-around; 
  }